<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicio</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/dog/inicio">Inicio</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dog/perro_list">Perros</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dog/raza_list">Razas</a>
          </li>
          {%if not request.user.is_authenticated%}
          <li class="nav-item active">
          	<a class="nav-link" href="/dog/nuevo">Registrate</a>
          </li>
          {%endif%}
          {%if request.user.is_authenticated%}
          <li class="nav-item active">
          <a class="nav-link" href="perro_form/add">Registro de perros</a>
          </li>
          {%endif%}
          <li class="nav-item" text-align="right">
            	<a class="nav-link">
              		<font color=#FFFFFF>{% block user %} {% endblock %}</font>
            	</a>
           </li>
           {%if request.user.is_authenticated%}
           <li class="nav-item" text-align="right">
           		<a class="nav-link">
              		<form action="logout/" method="POST" name="auth">
  					{% csrf_token %}
            <input type=button class="btn btn-default" value="Logout"  style='height:3%' onClick="location.href='{% url 'Logout' %}'">
					</form>
            	</a>
           </li>
           {%endif%}
        </ul>
      </div>
    </nav>

{%block content%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'dog/style1.css' %}" />
<html>
<head>
<h1>Bienvenidos a Doghouse</h1>
</head>
<body>
<br>
<br>
<br>
<br>
</body>
</html>
{%endblock%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
