{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'dog/style1.css' %}" />
<html>
<head>
<h1>Bienvenidos a Doghouse</h1>
</head>
<body>
<form action="../login/" method="POST" name="auth">
  {% csrf_token %}
  <label>Nombre</label>
  <input type="text" name="username">
  <label>Password</label>
  <input type="password" name="password">
  <button type="submit">Login</button>
</form>

<a href="../nuevo">Registrate</a>
<br>
<a href="../perro_list">Consulta de perros</a>
<br>
<a href="../raza_list">Consulta de razas</a>

</body>
</html>
