{%extends 'inicio.html'%}
{% load staticfiles %}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'dog/style2.css' %}" />
    <ul>
        {% for perro in object_list %}
        <li>
        <a href="{{perro.id}}">{{ perro.nombre }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if perro.propietario.id == user.id %}
            <a href="perro_confirm_delete/{{perro.id}}/delete" style="color:black";>Eliminar</a>
        {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}

