{%extends 'inicio.html'%}
{%block content%}
<ul>
<li>
<b>Microchip:</b>	{{perro.microchip}}
</li>
<li>
<b>Nombre:</b>	{{perro.nombre}}
</li>
<li>
<b>Edad:</b>	{{perro.edad}}
</li>
<li>
<b>Caracter:</b>	{{perro.caracter}}
</li>
<li>
<b>Habitos:</b>	{{perro.habitos}}
</li>
<li>
<b>Peso:</b>	{{perro.peso}}
</li>
<li>
<b>Vacunas:</b>	{{perro.vacunas}}
</li>
<li>
<b>Color:</b>	{{perro.color}}
</li>
<li>
<b>Uso:</b>	{{perro.uso}}
</li>
<li>
<b>Altura:</b>	{{perro.altura}}
</li>
<li>
<b>Raza:</b>	{{perro.raza}}
</li>
<li>
<b>Cruce:</b>	{{perro.cruce}}
</li>
<li>
<b>Descripcion:</b>	{{perro.descripcion}}
</li>
<li>
<b>Estado:</b>	{{perro.estado}}
</li>

{% endblock %}