{%extends 'inicio.html'%}
{%block content%}
<ul>
<li>
<b>Microchip:</b>	{{perro.microchip}}
</li>
<li>
<b>Nombre:</b>	{{perro.nombre}}
</li>
<li>
<b>Edad:</b>	{{perro.edad}}
</li>
<li>
<b>Caracter:</b>	{{perro.caracter}}
</li>
<li>
<b>Habitos:</b>	{{perro.habitos}}
</li>
<li>
<b>Peso:</b>	{{perro.peso}}
</li>
<li>
{% if perro.vacunas == True %}
<b>Vacunas:</b>	Si
{% else %}
<b>Vacunas:</b>	No
{% endif %}
</li>
<li>
<b>Color:</b>	{{perro.color}}
</li>
<li>
<b>Uso:</b>	{{perro.uso}}
</li>
<li>
{% if perro.altura == "g" %}
<b>Altura:</b> Grande
{% else %}
{% if perro.altura == "m" %}
<b>Altura:</b> Mediano
{% else %}
<b>Altura:</b> Enano
{% endif %}
{% endif %}
</li>
<li>
<b>Raza:</b>	{{perro.raza}}
</li>
<li>
{% if perro.cruce == True %}
<b>Cruce:</b> Si
{% else %}
<b>Cruce:</b> No
{% endif %}
</li>
<li>
{% if perro.estado == "A" %}
<b>Estado:</b> Adoptable
{% else %}
<b>Estado:</b> Adoptado
{% endif %}
</li>

{% endblock %}